@* channel form template *@

@import net.gesn.models.Channel

@(channelForm: Form[Channel], action: Call, title: String, button: String)()

<section class="page page-form">
  <h1 class="page-title">@title</h1>
  <div class="page-content">
    @helper.form(action = action, 'class -> "form-horizontal") {
      <fieldset>
        <h3>Your service</h3>
        @fields.textbox(channelForm("uuid"), "Unique ID")
        @fields.textbox(channelForm("title"), "Title")
        @fields.textbox(channelForm("description"), "Description")
        @fields.slider(channelForm("servers"), "Servers", min = 1, max = 10)
        @fields.textbox(channelForm("flags"), "Flags")
        <button class="btn-action">Next</button>
      </fieldset>
      <fieldset>
        <h3>Payment</h3>
        @fields.radio(channelForm("paymentType"), "Select your payment option", List("Paypal", "Card"))
        <button class="btn-action">Previous</button>
        <button class="btn-action">Next</button>
      </fieldset>
      <fieldset>
        <h3>Confirmation</h3>
        <button class="btn-action">Previous</button>
        <button class="btn-action">Confirm</button>
      </fieldset>
      <button class="btn-action" type="submit">@button</button>
    }
  </div>
</section>

<script src="http://seiyria.com/bootstrap-slider/js/bootstrap-slider.js"></script>
<!--<script src="@routes.Assets.at("lib/bootstrap-slider/bootstrap-slider.min.js")"></script>-->
