@import net.gesn.models.{ Header, Server }

@(severs: List[Server])(implicit flash: Flash, header: Header)

@main("Gathers") {

<section class="home">
  <table class="table table-striped table-hover">
    <tr>
      <th>Location</th>
      <th>Name</th>
      <th>IP</th>
      <th>Port</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>EU</td>
      <td>Server1</td>
      <td>127.0.0.1</td>
      <td>27015</td>
      <td>Join</td>
    </tr>
    <tr>
      <td>EU</td>
      <td>Server1</td>
      <td>127.0.0.1</td>
      <td>27015</td>
      <td>Join</td>
    </tr>
    <tr>
      <td>EU</td>
      <td>Server1</td>
      <td>127.0.0.1</td>
      <td>27015</td>
      <td>Join</td>
    </tr>
    <tr>
      <td>EU</td>
      <td>Server1</td>
      <td>127.0.0.1</td>
      <td>27015</td>
      <td>Join</td>
    </tr>
    <tr>
      <td>EU</td>
      <td>Server1</td>
      <td>127.0.0.1</td>
      <td>27015</td>
      <td>Join</td>
    </tr>
  </table>
</section>

}